@import "tailwindcss";

:root {
  --background: #f8fafc; /* slate-50 */
  --foreground: #1e293b; /* slate-800 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a; /* slate-900 */
    --foreground: #f8fafc; /* slate-50 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
